body {
    background: url(../img/bg_grex.png);
    /*background-repeat:repeat-y;
    background-position:center center;
    background-attachment:scroll;*/
	background-size:cover;  
    /*background-size:100% 100%;*/
}
.ui-page {
    background: transparent;
}
.ui-content{
    background: transparent;
}